@charset "UFT-8"; /*文字化け防ぐため＊/

/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したところで */


logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}


/*==================================================================*/

/*body全体(背景画像)の変更*/
body{
        background-color: #f4ffff;
        background-image: url("https://drive.google.com/uc?export=download&id=1PVOwbxoasjstIBVqgH6XpWRltFmqlyx2");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        height: 100vh;
}

/* divの全体設定 */
div{
    color: #ffffff;
}

/* 「hello welcome to my page」 の設定 */
.main_title{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    padding: 10px;
    color: #6c3524;
    border: solid 5px #fffafa;
    width: 1300px;
    margin: 0 auto;
    font-size: 80px;
}

/* グラデーション設定 */
.background{
    background: linear-gradient(180deg, rgba(217, 175, 217, 0.6) /* red,green,blue,透明度の順 */, rgba(151, 217, 225, 0.2) /* red,green,blue,透明度の順 */ ), url("https://drive.google.com/uc?export=download&id=1PVOwbxoasjstIBVqgH6XpWRltFmqlyx2");
    background-size: cover;
    background-repeat: repeat-x;/* 横に繰り返す */
    height: 140vh;
}

/* -xbp- 設定 */
span{
    font-size: 50px;
    color: #f3a68c;
}

/* 枠線(box)の設定 */
.icon{
    text-align: center;
    border: 5px double;
    border-color: black;
    border-radius: 8px; /* 半径が8pxの角丸 */
    width: 400px;
    font-size: 30px;
    margin: 2em 0;
    padding: 0.5em 1em;
}

/* 枠線の余白設定 */
.icon p {
    margin: 0;
    padding: 0;
}



/* h1設定 */
h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #bbdbf3;
    text-align: center;
    font-size: 80px;
}

/* class="blue"の設定 */
.blue{
    color: #0bd;
}

/* h2設定 */
h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #192f60;
}

/* h3設定 */
h3{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #192f60;
}

/* h4設定 */
h4{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #192f60;
}

/* h5設定 */
h5{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #192f60;
}

/* h6設定 */
h6{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #192f60;
}

/* ul全体の設定 */
ul{
    font-size: 30px;
    color: #191970;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* li全体の設定 */
li{
    font-size: 30px;
    text-align: center;
    color: #6b3f31;
}

/* リンクの色の設定 */
a{
    color: #6b3f31;
}

/* class="list"の設定 */
.list{
    text-align: center;
}


/* class="main-list"(デザイン演習・デジファブのリンク)の余白設定 */
.main-list{
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 4%;
}